slackbot==0.5.1
chainer==3.0.0
google-cloud-core==0.28.1
google-cloud-datastore==1.7.0
google-cloud-language==1.0.2
google-cloud-storage==1.11.0
proto-google-cloud-datastore-v1==0.90.4
gapic-google-cloud-datastore-v1==0.90.4
